    body { 
    margin: 0;
    }



@media screen and (min-width: 960px){
body{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-color: white;
}

#backgroundvideo {
    position: fixed;
    width: 100%;
    z-index: -1;
    size: 100%;
}

/* HEADER */

@font-face{
    font-family: Rolanti;
    src: url("../fonts/Rolanti_Bold.otf") format("opentype");
}
.imglogo{
    display: block;
    /*margin-left: 400px;
    margin-right: 400px;*/
    position: absolute;
    width: 720px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 90px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    font-family: Rolanti;
    font-size: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-shadow:
    -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}

/* EINDE HEADER*/

/* MENU */
nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 25px;
    width: 720px;
    height: 30px;
    background-color: #707070;
    text-align: center;
    /*margin-left: 400px;
    margin-right: 400px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -155px;
    border: 1px solid white;
    border-right:1px;
    border-left:1px;
}

.nav{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* EINDE MENU */

.inhoud{
    height: 1940px;
    width: 720px;
    background-color: #2699FB;
    /*margin-left: 400px;
    margin-right: 400px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 831px;
}
.fotos{
    width:720px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
}
footer{
    text-align: center;
    width: 100%;
    height: 18px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /*margin-left: 400px;
    margin-right: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1857px;*/
    border: 1px solid white;
    border-right :1px;
    border-left: 1px;
    border-bottom: 1px;
}
}

@media screen and (max-width: 960px) and (min-width: 360px){
    body{
        background-color: #2699FB;
    }
    
    /* HEADER */
    
    @font-face{
        font-family: Rolanti;
        src: url("../fonts/Rolanti_Bold.otf") format("opentype");
    }
    .imglogo{
        display: block;
        position: absolute;
        width: 100%;
        height: 200px;
        margin-top: -220px;
        margin-left: -0px;
    }
    
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -155px;
        font-family: Rolanti;
        font-size: 50px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-shadow:
        -3px -3px 0 #000,  
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
    }
    
    /* EINDE HEADER*/
    
    /* MENU */
    nav{
        font-family: Arial, Helvetica, sans-serif;
        font-size : 25px;
        width: 100%;
        height: 30px;
        background-color: #707070;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -125px;
        border: 1px solid white;
        border-right:1px;
        border-left:1px;
    }
    
    .nav{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    /* EINDE MENU */
    
    .inhoud{
        height: auto;
        width: 100%;
        background-color: #2699FB;
        margin-top: 220px;
        margin-left: -0px;
    }
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 250%;
        text-align: center;
    }

    .fotos{
        width: 48%;
        padding: 2px;
    }

    footer{
        text-align: center;
        width: 100%;
        height: 18px;
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border: 1px solid white;
        border-right :1px;
        border-left: 1px;
        border-bottom: 1px;
        margin-top: -5px;
        margin-left: 5px;
    }
    .hide{
        display: none;
    }
    #fotobottom{
        width: 100%;
    }
    article{
        margin-right: 8px;
    }
    }


@media screen and (max-width: 360px){
    body{
        background-color: #2699FB;
    }
    
    /* HEADER */
    
    @font-face{
        font-family: Rolanti;
        src: url("../fonts/Rolanti_Bold.otf") format("opentype");
    }
    .imglogo{
        display: block;
        position: absolute;
        width: 105%;
        height: 200px;
        margin-top: -220px;
        margin-left: -10px;
    }
    
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -155px;
        font-family: Rolanti;
        font-size: 50px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-shadow:
        -3px -3px 0 #000,  
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
    }
    
    /* EINDE HEADER*/
    
    /* MENU */
    nav{
        font-family: Arial, Helvetica, sans-serif;
        font-size : 25px;
        width: 100%;
        height: 30px;
        background-color: #707070;
        text-align: center;
        position: absolute;
        /*top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        margin-top: -20px;
        border: 1px solid white;
        border-right:1px;
        border-left:1px;
    }
    
    .nav{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    /* EINDE MENU */
    
    .inhoud{
        height: auto;
        width: 100%;
        background-color: #2699FB;
        margin-top: 220px;
        margin-left: -0px;
    }
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 200%;
        text-align: center;
    }

    .fotos{
        width: 100%;
        padding: 3px;
    }

    footer{
        text-align: center;
        width: 100%;
        height: 18px;
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border: 1px solid white;
        border-right :1px;
        border-left: 1px;
        border-bottom: 1px;
        margin-top: -3px;
        margin-left: 1%;
    }
    .hide2{
        display: none;
    }
}