/* Set auto css off from browsers*/
body { 
    margin: 0;
}

/* STANDARD MENU*/
.navbar a {
    float: center;
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*DESKTOP VERSION*/
@media screen and (min-width: 960px){
/*BACKGROUND*/
body{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-color: white;
}

#backgroundvideo {
    position: fixed;
    width: 100%;
    z-index: -1;
}

/*MENU BAR*/
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 30px;
    width: 100%;
    height: 42px;
    background-color: #707070;
    text-align: center;
    border: 1px solid white;
    border-right:1px;
    border-left:1px;
    margin-top: -970px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER */

@font-face{
    font-family: Rolanti;
    src: url("../fonts/Rolanti_Bold.otf") format("opentype");
}
.imglogo{
    display: block;
    position: absolute;
    width: 720px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 90px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    font-family: Rolanti;
    font-size: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-shadow:
    -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}

/* EINDE HEADER*/

/*HOME PAGE*/

.inhoud{
    height: 1940px;
    width: 720px;
    background-color: #2699FB;
    /*margin-left: 400px;
    margin-right: 400px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 831px;
}

.fotos{
    width:720px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
}

footer{
    text-align: center;
    width: 100%;
    height: 18px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 1px solid white;
    border-right :1px;
    border-left: 1px;
    border-bottom: 1px;
}
.hidepc{
    display: none;
}
}

/*TABLET VERSION*/
@media screen and (max-width: 960px) and (min-width: 361px){
    body{
        background-color: #2699FB;
    }

    .navbar {
        font-family: Arial, Helvetica, sans-serif;
        font-size : 30px;
        width: 100%;
        height: 42px;
        background-color: #707070;
        text-align: center;
        border: 1px solid white;
        border-right:1px;
        border-left:1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -125px;
    }
    
    /* HEADER */
    
    @font-face{
        font-family: Rolanti;
        src: url("../fonts/Rolanti_Bold.otf") format("opentype");
    }
    .imglogo{
        display: block;
        position: absolute;
        width: 100%;
        height: 200px;
        margin-top: -220px;
        margin-left: -0px;
    }
    
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -155px;
        font-family: Rolanti;
        font-size: 50px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-shadow:
        -3px -3px 0 #000,  
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
    }
    
    /* EINDE HEADER*/
    
    .inhoud{
        height: auto;
        width: 100%;
        background-color: #2699FB;
        margin-top: 220px;
        margin-left: -0px;
    }
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 250%;
        text-align: center;
    }

    .fotos{
        margin-left: 1px;
        margin-right: auto;
        width: 49%;
    }

    footer{
        text-align: center;
        width: 100%;
        height: 18px;
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border: 1px solid white;
        border-right :1px;
        border-left: 1px;
        border-bottom: 1px;
        margin-top: -5px;
    }

    .hidetablet{
        display: none;
    }

    #fotobottom{
        width: 100%;
    }
    }

/*MOBILE VERSION*/
@media screen and (max-width: 361px){
    /*Background*/
    body{
        background-color: #2699FB;
    }

    /*Menu dropdown*/
    .navimg{
        height: 50%;
    }
    .navbar {
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size : 25px;
        width: 100%;
        height: 40px;
        background-color: #707070;
        text-align: center;
        border: 1px solid white;
        border-right:1px;
        border-left:1px;
        z-index: inherit;
    }
    
    /* HEADER */
    
    @font-face{
        font-family: Rolanti;
        src: url("../fonts/Rolanti_Bold.otf") format("opentype");
    }

    .imglogo{
        display: block;
        position: absolute;
        width: 100%;
        height: 220px;
        margin-top: -220px;
    }
    
    .container {
        position: relative;
        text-align: center;
        color: white;
        margin-top: 100px;
    }
    
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -125px;
        font-family: Rolanti;
        font-size: 50px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        text-shadow:
        -3px -3px 0 #000,  
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
    }
    
    .inhoud{
        height: auto;
        width: 100%;
        background-color: #2699FB;
        margin-top: 220px;
    }
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-transform: uppercase;
        font-size: 200%;
        text-align: center;
    }

    .fotos{
        width: 100%;
        padding-top: 3px;
    }

    footer{
        text-align: center;
        width: 100%;
        height: 18px;
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border: 1px solid white;
        border-right :1px;
        border-left: 1px;
        border-bottom: 1px;
    }

    /*Disable context for mobile*/
    .hidemobile{
        display: none;
    }
}