/* Set auto css off from browsers*/
body { 
    margin: 0;
}

/* STANDARD MENU*/
.navbar a {
    float: center;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #FFFFFF;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

form{
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-bottom:0;
}

[type~=submit] {
    width: 40%;
    background-color: #2699FB;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    height: 40px;
    margin-left: 30%;
}

fieldset{
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    background-color: #FFFFFF;
    font-size: 100%;
}


.contactFormFieldset{
    width: 100%;
    border: 0;
}

select{
    float: right;
    width: 50%;;
}


/*DESKTOP VERSION*/
@media screen and (min-width: 960px){
/*BACKGROUND*/
body{
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

#backgroundvideo {
    position: fixed;
    width: 100%;
    z-index: -1;
}

/*MENU BAR*/
.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 30px;
    width: 100%;
    height: 42px;
    background-color: #707070;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-right:1px;
    border-left:1px;
    margin-top: -40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* HEADER */

@font-face{
    font-family: Rolanti;
    src: url("../fonts/Rolanti_Bold.otf") format("opentype");
}
.imglogo{
    display: block;
    position: absolute;
    width: 720px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 90px;
}

.container {
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    font-family: Rolanti;
    font-size: 50px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow:
    -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000;
}

/* EINDE HEADER*/

/*HOME PAGE*/

.inhoud{
    height: 1940px;
    width: 720px;
    background-color: #2699FB;
    /*margin-left: 400px;
    margin-right: 400px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 831px;
}
.inhoudContact{
    height: 650px;
    width: 720px;
    background-color: #2699FB;
    /*margin-left: 400px;
    margin-right: 400px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 231px;
}

.fotos{
    width:720px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
}

footer{
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: black;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 2px solid #FFFFFF;
    border-right :1px;
    border-left: 1px;
    border-bottom: 1px;
}
.hidepc{
    display: none;
}
}

/*TABLET VERSION*/
@media screen and (max-width: 960px) and (min-width: 361px){
    body{
        background-color: #2699FB;
    }

    .navbar {
        font-family: Arial, Helvetica, sans-serif;
        font-size : 30px;
        width: 100%;
        height: 42px;
        background-color: #707070;
        text-align: center;
        border: 2px solid #FFFFFF;
        border-right:1px;
        border-left:1px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: -65px;
    }
    
    /* HEADER */
    
    @font-face{
        font-family: Rolanti;
        src: url("../fonts/Rolanti_Bold.otf") format("opentype");
    }
    .imglogo{
        display: block;
        position: absolute;
        width: 100%;
        height: 200px;
        margin-top: -220px;
        margin-left: -0px;
    }
    
    .container {
        position: relative;
        text-align: center;
        color: #FFFFFF;
    }
    
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -155px;
        font-family: Rolanti;
        font-size: 50px;
        text-decoration: none;
        color: #FFFFFF;
        text-transform: uppercase;
        text-shadow:
        -3px -3px 0 #000,  
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
    }
    
    /* EINDE HEADER*/
    
    .inhoud{
        height: auto;
        width: 100%;
        background-color: #2699FB;
        margin-top: 220px;
        margin-left: -0px;
    }

    .inhoudContact{
        height: auto;
        width: 100%;
        background-color: #2699FB;
        margin-top: 220px;
        margin-left: -0px;
    }
    
    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 250%;
        text-align: center;
    }

    .fotos{
        margin-left: 3px;
        margin-right: auto;
        width: 49%;
    }

    footer{
        text-align: center;
        width: 100%;
        height: 25px;
        line-height: 25px;
        background-color: black;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border: 2px solid #FFFFFF;
        border-right :1px;
        border-left: 1px;
        border-bottom: 1px;
    }

    .hidetablet{
        display: none;
    }

    #fotobottom{
        width: 100%;
        margin-left: -1px;
    }
    }

/*MOBILE VERSION*/
@media screen and (max-width: 361px){
    /*Background*/
    body{
        background-color: #2699FB;
    }

    /*Menu dropdown*/
    .navimg{
        height: 50%;
    }
    .navbar {
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
        font-size : 25px;
        width: 100%;
        height: 40px;
        background-color: #707070;
        text-align: center;
        border: 2px solid #FFFFFF;
        border-right:1px;
        border-left:1px;
        z-index: inherit;
    }
    
    /* HEADER */
    
    @font-face{
        font-family: Rolanti;
        src: url("../fonts/Rolanti_Bold.otf") format("opentype");
    }

    .imglogo{
        display: block;
        position: absolute;
        width: 100%;
        height: 130px;
        margin-top: -130px;
    }
    
    .container {
        text-align: center;
        color: #FFFFFF;
        /*margin-top: 100px;*/
    }
    
    .logo {
        position: absolute;
        top: 50%;
        transform: translate(-50%);
        margin-top: -320px;
        font-family: Rolanti;
        font-size: 40px;
        text-decoration: none;
        color: #FFFFFF;
        text-transform: uppercase;
        text-shadow:
        -3px -3px 0 #000,  
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
    }
    
    .inhoud{
        height: auto;
        width: 100%;
        background-color: #2699FB;
        margin-top: 110px;
    }

    .inhoudContact{
        height: auto;
        width: 100%;
        background-color: #2699FB;
        margin-top: 110px;
    }
    
    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 200%;
        text-align: center;
    }

    .fotos{
        width: 100%;
        padding-top: 3px;
    }

    footer{
        text-align: center;
        width: 100%;
        height: 25px;
        line-height: 25px;
        background-color: black;
        color: #FFFFFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        border: 2px solid #FFFFFF;
        border-right :1px;
        border-left: 1px;
        border-bottom: 1px;
    }

    /*Disable context for mobile*/
    .hidemobile{
        display: none;
    }
}